<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragment/header :: header-css"/>
</head>
<body>

<div class="container pt-3">
    <div class="row justify-content-sm-center">
        <div class="col-10">
            <div class="card">
                <div class="card-header">
                    <h4>An Error has occured</h4>
                </div>
                <div class="card-body">
                    <h5 class="card-title"><span>Error Details</span></h5>
                    <div class="card-text">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item list-group-item-danger"><h6 th:text="${error}">Status</h6></li>
                            <li class="list-group-item"><span th:text="'Status Code :' + ${status}"></span></li>
                            <li class="list-group-item"><span th:text="'Date :' + ${timestamp}">Status</span></li>
                            <li class="list-group-item"><span th:text="'path :' + ${path}">Status</span></li>
                            <li class="list-group-item"><span th:text="'message :' + ${message}">Status</span></li>
                        </ul>
                    </div>
                </div>
                <div class="card-footer"><a class="btn btn-sm btn-primary float-left" th:href="${'/contact/'}">View My Contact List</a></div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragment/footer :: footer"/>
</body>
</html>