<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragment/header :: header-css"/>
</head>
<body>
<div class="container pt-3">
    <div class="row justify-content-sm-center">
        <div class="col-sm-10 col-md-6">
            <div class="card border-info">
                <div class="card-header">Sign in to continue</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <h4 class="text-center">My Contacts</h4>
                        </div>
                        <div class="col-md-8">
                            <form th:action="@{/login}" class="form-signin" method="post">
                                <div th:if="${param.error}">
                                    Invalid username and password.
                                </div>
                                <div th:if="${param.logout}">
                                    You have been logged out.
                                </div>
                                <input type="text" class="form-control mb-2" placeholder="Email" name="username" required autofocus>
                                <input type="password" class="form-control mb-2" placeholder="Password" name="password" required>
                                <input class="btn btn-lg btn-primary btn-block mb-1" type="submit">
                                <label class="checkbox float-left">
                                    <input type="checkbox" value="remember-me">
                                    Remember me
                                </label>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" class="float-right">Create an account </a>
        </div>
    </div>
</div>

<div th:replace="fragment/footer :: footer"/>
</body>
</html>